
/* Reset default margin and padding */
html, body {
	font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

#container {
    width: 100%;
    margin: 0 auto;
	padding-bottom: 60px;
}

/* Layout */
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 992px) {
    .container {
        width: 970px;
     }
}
	 
.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
	padding-bottom: 0px;
}

header {
    background: #003366; /* Dark blue */
    color: white;
    padding: 20px; /* Reduced on smaller screens within the media query below */
    text-align: center;
}

header img {
    width: auto; /* Scales image width based on its height */
    height: 140px; /* Adjusted on smaller screens within the media query below */
    max-width: 100%; /* Prevents the image from being wider than its container */
}

/* Media query for screens that are 768px wide or less */
@media (max-width: 768px) {
    header {
        padding: 10px; /* Reduced padding */
    }

    header img {
        height: 80px; /* Smaller logo height */
    }
}


nav {
    background: #f2f2f2; /* Light grey */
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
	    display: flex;
    justify-content: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #003366; /* Dark blue */
    transition: color 0.3s; /* Smooth Hover-Transition */
	    padding: 10px;
}

/* Hervorhebung für Menüelemente beim Darüberfahren */
nav ul li a:hover, nav ul li a:focus {
    background-color: #ddd; /* Farbe für das Hover */
    color: black;
}
	
	/* Hervorhebung für das aktive Menüelement */
nav ul li a.active {
    background-color: #ddd; /* Hintergrundfarbe für das aktive Element */
    color: black;
}

nav ul li a.active:hover {
    background-color: #ddd; /* Hintergrundfarbe bleibt beim Hover über das aktive Element */
    color: black;
}

nav ul li a:hover {
    color: #000000; /* Hover Farbwechsel */
}

.list-angebot {
    margin-bottom: 5px;
}

main {
    margin: 15px 0;
	padding-left: 10%;
	padding-right: 5%;
}

footer {
    background: #003366; /* Dark blue */
    color: white;
    text-align: center;
    padding: 10px; /* Adjusted on smaller screens within the media query below */
    position: fixed;
    bottom: 0;
    width: 100%; /* Full width */
}

footer a {
    color: #ddd;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Media query for screens that are 768px wide or less */
@media (max-width: 768px) {
    footer {
        padding: 5px 10px; /* Reduced vertical padding */
        font-size: 0.8em; /* Smaller font size for space efficiency */
    }

    footer a {
        font-size: 0.8em; /* Ensure anchor tags within the footer match the reduced font size */
    }
}


.profile-section {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
	gap: 0px;
}

.profile-text {
    width: 50%; /* Kann justiert werden */
}
@media (max-width: 600px) {
	.profile-text {
	width: auto;
	}  
}
	
.profile-image {
	    max-width: 100%;
    max-height: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image img {
    max-width: 100%;
    height: auto;
}


.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}


.content {
  padding: 20px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

@media screen and (max-width: 600px) {
  .timeline::after {
    left: 31px;
  }
}

  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .dot {
    left: 15px;
  }

  .right {
    left: 0%;
	}
	
@media (max-width: 600px) {
  .container {
    padding: 10px 0px; /* Reduced padding on smaller screens */
    width: 100%; /* Full width on smaller screens */
  }
}


.desc {
    grid-column: span 10;
    vertical-align: top;
    font-size: 17px;
    padding-left: 0px;
    padding-bottom: 25px;
}
.entry {
}
.entry-dot {
    position: absolute;
    top: 0px;
    left: -8px;
    width: 10px;
    height: 10px;
    border-radius: 7px;
    background-color: #cfcfcf;
    border: 2px solid white;
}
.timespan {
    grid-column: span 1;
    font-size: 14px;
    text-align: right;
    padding-right: 5px;
    color: #bbb;
    width: 80px; /* Muss Breite des längsten Datums haben */
    min-width: 80px; /* wie oben */
}

.ico {
    grid-column: span 1;
    vertical-align: top;
    border-left: 2px solid #cfcfcf;
    position: relative;
}
.ico img {
    border-radius: 5px;
    width: 100%;
    max-width: 80px;
    margin-left: 10px;
}

/* Mobile relevante fixes */
@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }
}


.hamburger-menu {
    display: none; /* Hide by default */
	background: #f2f2f2;
    cursor: pointer;
	padding: 10px;
	font-size: 20px;
    /* Additional styling as needed */
}

@media screen and (max-width: 768px) {
    .hamburger-menu {
        display: block; /* Show hamburger menu on smaller screens */
		    font-size: 28px; /* Adjust the size to make it bigger */
    }

    nav ul {
        display: none; /* Hide the menu items initially on smaller screens */
        width: 100%; /* Ensure full width */
    }

    nav ul.show {
        display: flex; /* Use flex to display items when menu is toggled */
        flex-direction: column; /* Ensure items are displayed vertically */
        align-items: center; /* Center items */
    }
    nav ul li {
    text-align: left; /* Text align left for list items */
    width: 100%; /* Full width for list items */
}
    nav ul li a {
        display: block; /* Ensure links take up full width of list item */
        padding: 10px; /* Add padding for tap targets */
        width: 100%; /* Full width links for easier tapping */
    }
}


#backToTop {
    padding: 10px;
    position: fixed;
    bottom: 8px;
    right: 20px;
    display: none; /* nicht sichtbar by Default */
}

		.contacticon {
            width: 15px;
            height: auto; /* Aspektratio */
        }
		
          /* Define a class for the labels */
        .contactlabel {
            width: 45px;
            display: inline-block;
            text-align: left;
            margin-right: 5px; /* Platz zwischen Label & Text */
        }
 

        /* Define a class for the list items */
        .contact-info {
            list-style-type: none; /* Defaul Liststil entfernen */
        }	

/* Mail protect */
.reverse {
  unicode-bidi: bidi-override;
  direction: rtl;
}

/* Responsive design for contact items on mobile */
@media (max-width: 768px) {
    .contactlabel,
    .contact-info li {
        display: block; /* Stack label and content on separate lines */
        text-align: left; 
    }
    .contacticon {
        display: inline-block; /* Keep the icon inline with text */
        vertical-align: middle;
        margin-right: 5px; /* Maintain spacing between icon and label */
    }
    .contactlabel {
        display: inline-block; 
        margin-right: 0; /
        vertical-align: middle; /
    }
    /* Ensure that the combination of icon and label does not exceed 100% width */
    .contact-info li {
        white-space: nowrap; /* Prevent wrapping within list item */
        overflow: hidden; /* Hide overflow */
        text-overflow: ellipsis; /* Add ellipsis for text that doesn't fit */
    }
	.contact-info {
		padding-left:15px;
	}	
}
